
:root {
	/* font */
	--sans: "Roboto Condensed",  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	
	/* --serif: "Crimson Pro", Iowan Old Style, Times New Roman, Times, serif; */
	--serif: "Merriweather",Iowan Old Style, Times New Roman, Times, serif;

	/* --mono: "Courier Prime", Menlo, Consolas, Monaco, monospace; */
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	--border-radius: 2px;
	--color-bg: #e0dad1;
	--color-primary: #464139;
	--color-secondary: #2d6987;
	--color-tertiary: #deae1f	;
	--color-fg: #3e3929;
	--col-width: 600px;
	
	/* "1" second duration */
	--1s: 1ms;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
	width: 100%;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* 11. Russell */

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	background-color: black;
	color: white;
	width: auto;
	height: auto;
	padding: 8px;
	z-index: 1000;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

body {
	font-family: var(--serif);
	font-weight: 300;
	background: var(--color-bg);
	color: var(--color-fg);
}

p {
	font-size: 20px;
	line-height: 1.4;
	margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--sans);
	text-transform: uppercase;
	font-weight: 200;
}

h1 {
	line-height: 1;
	font-weight: 200;
	margin: 1rem auto;
	display: block;
	padding: 1rem 0;
	font-size: clamp(24px, 10vw, 64px);
}

h1 a {
	color: var(--color-fg);
}

h1 span {
	display: inline-block;
}

h1 span:nth-of-type(1) {
	letter-spacing: -0.05em;
}


h1 span:nth-of-type(2) {
	letter-spacing: 0.34em;
	text-indent: 0.45em;

}

h2 {
	font-size: 42px;
	text-align: center;
	font-weight: 400;
	line-height: 1;
}

h3 {
	font-size: 28px;
	text-align: center;
	font-weight: 400;
	line-height: 1;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 20px;
}

a {
	color: var(--color-primary);
}

section {
	max-width: var(--col-width);
	margin: 0 auto;
	padding: 0 1rem;
}

section > p, section > h2, section > blockquote {
	margin: 1rem auto;
}

p.no-margin-top {
	margin-top: 0;
}	

header {
	max-width: var(--col-width);
	margin: 0 auto;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 1rem auto;
	display: flex;
	justify-content: space-evenly;
	max-width: var(--col-width);
}

nav li {
	text-transform: uppercase;
	font-family: var(--sans);
	font-weight: 400;
}

nav li a {
	text-decoration: none;
}

li .disabled {
	pointer-events: none;
	opacity: 0.5;
}

a {
	color: var(--color-fg);
}


/* HOME */

.home #hero img {
	margin: 2rem auto;
}


.home #hero p {
	text-align: center;
	margin: 4rem auto;
	font-size: 28px;
	line-height: 1.2;
}

.home #feature {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1024px;
	gap: 1rem;
	margin: 4rem auto;
}

.home #feature div {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
}

/* contact */
#contact {
	margin: 8rem auto;
}

#contact h2 {
	text-align: center;
}

#contact p {
	text-align: center;
}

/* sub page */
.subpage #feature {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	max-width: 1024px;
	margin: 4rem auto;
}

/* sub page */

.subpage header {
	margin-bottom: 1rem;
}

.subpage #feature div {
	width: 25%;
	padding: 8px;
}

@media (max-width: 1080px) {
	.subpage #feature div {
		width: 33.33%;
	}
}

@media (max-width: 640px) {
	.subpage #feature div {
		width: 50%;
	}
}

/* about */
.about #info {
	display: flex;
	margin-top: 2rem;
	gap: 2rem;
}

.about #info img {
	width: calc(var(--col-width) / 2 - 2rem);
}

@media (max-width: 640px) {
	.about #info {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	
	.home #hero p {
		font-size: 20px;
	}

	.home #feature {
		flex-direction: column;
		align-items: center;
	}
	
}